{
	"excludedFolders": "**/.*,**/node_modules,**/target,**/archetype-resources,**/bin",
	"fetchUrl": "http://10.20.29.166:8088/",
	"tmpDir": "project",
	"scriptAppPath": "http://10.20.25.177/",
	"scriptAppLocalPath": "",
	"debug": false,
	"isCasLogin": false,
	"viewPrefix": "media/dist",
	"currentVersion": "latest"
}